[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
shell = "python manage.py shell_plus"
runserver = "python manage.py runserver_plus"
collectstatic = "python manage.py collectstatic"
js_reverse = "python manage.py collectstatic_js_reverse"
serve = "waitress-serve --listen=0.0.0.0:8000 --threads=6 temat:wsgi.application"

[dev-packages]
black = "==22.3.0"
colorama = "==0.4.4"
django-crispy-forms = "==1.14.0"
django-debug-toolbar = "==3.2.4"
django-extensions = "==3.1.5"
flake8 = "*"
ipdb = "*"
ipython = "*"
mypy = "*"
safety = "*"
werkzeug = "==2.0.3"

[packages]
django = "==3.2.13"
django-colorfield = "==0.6.3"
django-currentuser = "==0.5.3"
django-db-prefix = "==1.0.5"
django-environ = "==0.8.1"
django-filter = "==21.1"
django-hijack = "==3.2.0"
django-import-export = "==2.8.0"
django-js-reverse = "==0.9.1"
django-model-utils = "==4.2.0"
django-notifications-hq = "==1.7.0"
django-ordered-model = "==3.5"
django-pwa = "==1.0.10"
django-taggit = "==2.1.0"
django-webpack-loader = "==1.5.0"
djangorestframework = "==3.13.1"
djangorestframework-bulk = "==0.2.1"
drf-flex-fields = "==0.9.8"
icalendar = "==4.0.9"
markdown = "==3.3.6"
psycopg2 = "==2.9.3"
pydash = "==5.1.0"
waitress = "==2.1.1"
whitenoise = "==6.0.0"

[requires]
python_version = "3.7"
