{% load static %}
{% load render_bundle from webpack_loader %}
{% load webpack_static from webpack_loader %}
{% load pwa %}
{% load user_data %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>TeMaT</title>
    <!-- pwa -->
    {% progressive_web_app_meta %}
    <!-- user data -->
    {% user_data user %}
    <!-- built files will be auto injected -->
    {% render_bundle "app" "css" %}
  </head>
  <body>
    <noscript>
      <strong>
        We're sorry but TeMaT doesn't work properly without JavaScript enabled. Please enable it to
        continue.
      </strong>
    </noscript>
    <div id="app">
      <app></app>
    </div>
    <!-- built files will be auto injected -->
    {% render_bundle "app" "js" %}
  </body>
</html>
